@font-face {
  font-family: 'JetBrainsMono';
  src: URL('JetBrainsMono-Regular.ttf');
}

body {
    background-color: #004445;
    width: 75%;
    font-family: 'JetBrainsMono';
}

h1{
  font-family: 'VT323', sans-serif;
  font-size: 60px;
  color: #ffd369;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: 50px;
}

h2{
  font-family: 'VT323', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #ffd369;
  margin-left: 65px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

p{
  font-size: 20px;
  margin-left: 75px;
  margin-top: 10px;
  color: #faf5e4;
}

a{
  color: #faf5e4;
  text-decoration: none;
}

#command-prompt {
  margin-left: 0px;
  font-family: 'VT323', sans-serif;
  font-size: 40px;
  color: #ffd369;
}
